{
  "Hydrant": {
    "ApiKey": "osu! API v1 key",
    "SuperAdmin": 0,
    "ServerPort": 8800,
    "ServerAccessToken": "reverse ws token.",
    "Chrome": {
      "Path": null
    }
  },
  "ConnectionStrings": {
    "NewbieDatabase_Postgres": "Server=localhost;Port=5432;Database=xfs;User Id=xfs;Password=123456;"
  },
  "Mahjong": {
    "TensoulBase": "https://tensoul.b11p.com/convert"
  },
  "Services": {
    "random.org": "40af626d-27b3-4dae-b7f5-4cd73ac436b4"
  }
}