<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="log/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"
            keepFileOpen="true"
            openFileCacheTimeout="30" />
    <!--<target name="logconsole" xsi:type="Console" />-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>